@charset "ISO-8859-1";

body {
	background-image: url("/images/add_budget_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#header {
	color: white;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	background-color: #2a68f7;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 5px;
	z-index: 1
}

#content {
	position: relative;
	top: 100px;
	width: 40%;
	background-color: #2a68f7;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	color: white;
	opacity: 1;
	min-height: 400px;
	margin-bottom: 25px;
	border-radius: 10px;
}

#form h3 {
	text-align: center;
	font-weight: bold;
}

#form label {
	font-size: 20px;
}

#buttonDiv {
	display: flex;
	justify-content: center;
}

#form button {
	width: 200px;
	color: #2a68f7;
	font-weight: bold;
	text-align: center;
}

#footer {
	position: fixed;
	bottom: 0px;
	height: 20px;
	background-color: #2a68f7;
	width: 100%;
}